@import "~antd/dist/antd.css";
@import "fonts";
*{
  margin: 0;
  padding: 0;
}

.individualUser,form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0px 40px;
  border-bottom: 1px solid #191616d9;
  padding: 10px 10px 37px;
  box-sizing: border-box;
}
.userInfo {
  font-size: 25px;
  border: 1px solid #a9a9a9;
  padding: 11px;
  margin: 10px;
  span {
    font-size: 20px;
  }
}
.editForm {
  input {
    padding: 10px;
  }
}
.goLink {
  display: inline-block;
  font-size: 25px;
  background-color: #1d736f;
  color: white;
  padding: 14px 30px !important;
  text-decoration: none;
  margin: 0 10px;
  border: unset;
}
.delete {
  font-size: 20px;
  background-color: #3b367b;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
}
.btn {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
form {
  input {
    padding: 10px;
  }
}
.editInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.userInfoList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.usersButton {
  display: flex;
  margin-top: 25px;
}
.userEditInfoSection,.userAddInfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.users {
  margin: 0 30px;
}
input[type="submit"] {
  cursor: pointer;
}
.editInfo input{
  border: 2px solid #615c5c;
}
.userAddInfo input{
  border: 2px solid #615c5c;
}
.addUserInfo{
  display: flex;
  flex-direction: column;
  margin: 10px;
  span{
    font-family: $extra_bold;
  }
}
.editInfo {
  span{
    font-family: $extra_bold;
  }
}
.goLink,.delete{
  font-family: $medium;
}
input{
  font-family: $semi;
}
.userInfo{
  font-family: $semi;
  span{
    font-family: $medium;
  }
}
.title{
  font-family: $extra_bold;
  font-size: 30px;
  text-align: center;
}
.registrationError{
  display: flex;
  align-items: center;
  flex-direction: column;
  span{
    font-family: $medium;
    margin: 15px 0;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
