@import url(~antd/dist/antd.css);
@font-face {
  font-family: 'Work Sans extra_bold';
  src: url("../Fonts/WorkSans-ExtraBold.eot");
  src: url("../Fonts/WorkSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../Fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("../Fonts/WorkSans-ExtraBold.woff") format("woff"), url("../Fonts/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Work Sans Medium';
  src: url("../Fonts/WorkSans-Medium.eot");
  src: url("../Fonts/WorkSans-Medium.eot?#iefix") format("embedded-opentype"), url("../Fonts/WorkSans-Medium.woff2") format("woff2"), url("../Fonts/WorkSans-Medium.woff") format("woff"), url("../Fonts/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Work Sans Semi';
  src: url("../Fonts/WorkSans-SemiBold.eot");
  src: url("../Fonts/WorkSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../Fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../Fonts/WorkSans-SemiBold.woff") format("woff"), url("../Fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

.individualUser, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0px 40px;
  border-bottom: 1px solid #191616d9;
  padding: 10px 10px 37px;
  box-sizing: border-box; }

.userInfo {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  border: 1px solid #a9a9a9;
  padding: 11px;
  margin: 10px; }
  .userInfo span {
    font-size: 20px; }

.editForm input {
  padding: 10px; }

.goLink {
  display: inline-block;
  font-size: 25px;
  background-color: #1d736f;
  color: white;
  padding: 14px 30px !important;
  text-decoration: none;
  margin: 0 10px;
  border: unset; }

.delete {
  font-size: 20px;
  background-color: #3b367b;
  color: #ffffff;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px; }

.btn {
  display: flex;
  justify-content: space-between;
  margin: 20px; }

form input {
  padding: 10px; }

.editInfo {
  display: flex;
  flex-direction: column;
  margin: 10px; }

.userInfoList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%; }

.usersButton {
  display: flex;
  margin-top: 25px; }

.userEditInfoSection, .userAddInfo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%; }

.users {
  margin: 0 30px; }

input[type="submit"] {
  cursor: pointer; }

.editInfo input {
  border: 2px solid #615c5c; }

.userAddInfo input {
  border: 2px solid #615c5c; }

.addUserInfo {
  display: flex;
  flex-direction: column;
  margin: 10px; }
  .addUserInfo span {
    font-family: "Work Sans extra_bold"; }

.editInfo span {
  font-family: "Work Sans extra_bold"; }

.goLink, .delete {
  font-family: "Work Sans Medium"; }

input {
  font-family: "Work Sans Semi"; }

.userInfo {
  font-family: "Work Sans Semi"; }
  .userInfo span {
    font-family: "Work Sans Medium"; }

.title {
  font-family: "Work Sans extra_bold";
  font-size: 30px;
  text-align: center; }

.registrationError {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .registrationError span {
    font-family: "Work Sans Medium";
    margin: 15px 0; }

.userInfo span {
  word-break: break-word; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
